/* いそむらさん 専用*/
/* ヘッダーは全ページでレスポンシブになります */
/* headerArea */

/* m-header */
.m-header {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 1%;
}
@media (max-width: 1280px) {
  .m-header {
    padding: 0 2%;
  }
}
@media (max-width: 768px) {
  .m-header {
    padding: 0 3%;
  }
}

/* header-logo */
img.header-logo{
  width: 8%;
  height: auto;
}
@media (max-width: 1280px) {
  img.header-logo{
    width: 12%;
  }
}
@media (max-width: 1024px) {
  img.header-logo{
    width: 12%;
  }
}
@media (max-width: 768px) {
  img.header-logo{
    width: auto;
    height: 40px;
  }
}


/* m-header__inner */
.m-header__inner {
  display: block;
  margin-left: auto;
}


/* weatherInfo */
.weatherInfo {
  width: 90%;
  font-size: 11px;
}
@media (max-width: 1280px) {
  .weatherInfo {
    column-gap: 1%;
  }
}
@media (max-width: 1024px) {
  .weatherInfo {
    column-gap: 2%;
    margin-left: 1%;
  }
}
@media (max-width: 768px) {
  .weatherInfo {
    column-gap: 2%;
    margin-left: 3%;
    font-size: 13px;
  }
}


/* representativeCityName */
.m-header .representativeCityName {
  width: 50px;
}
@media (max-width: 1280px) {
  .m-header .representativeCityName {
    width: 45px;
  }
}
@media (max-width: 768px) {
  .m-header .representativeCityName {
    width: 70px;
  }
}
.m-header .representativeCityName div div:first-of-type {
  margin-bottom: 8px;
}


/* weatherItemName */
.m-header .weatherItemName {
  width: 95px;
}
@media (max-width: 1280px) {
  .m-header .weatherItemName {
    width: 95px;
  }
}
@media (max-width: 768px) {
  .m-header .weatherItemName {
    display: none;
  }
}
.m-header .weatherItemName div:first-of-type div:first-of-type {
  margin-bottom: 5px;
}
.m-header .weatherItemName div:last-of-type div:first-of-type {
  margin-bottom: 5px;
}
.m-header .weatherItemName div:last-of-type div:nth-of-type(2) {
  margin-bottom: 5px;
}


/* weatherForecastData */
#slider-weatherForecastData {
  max-width: 770px;
  flex: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  #slider-weatherForecastData {
    width: 100%;
    max-width: 370px;
  }
}
@media (max-width: 1024px) {
  #slider-weatherForecastData {
    width: 100%;
    max-width: 185px;
  }
}
@media (max-width: 768px) {
  #slider-weatherForecastData {
    width: 100%;
    max-width: 190px;
  }
}
.m-header .weatherForecastData {
  width: 12%;
}
@media (max-width: 768px) {
  .m-header .weatherForecastData {
    width: 100px;
  }
  .m-header .weatherForecastData:not(:first-of-type) {
    display: none;
  }
}
.slick-initialized .slick-slide {
  display: flex !important;
}
.img.weather-icon {
  margin: 0 auto;
}


/* ログイン ドロップダウン */
.btn.btn-secondary.dropdown-toggle.btn.dropdown-toggle.btn-secondary.btn-sm {
  position: relative;
  text-align: right;
  font-size: 11px;
}
@media (max-width: 768px) {
  .btn.btn-secondary.dropdown-toggle.btn.dropdown-toggle.btn-secondary.btn-sm {
    font-size: 13px;
  }
}
.dropdown-toggle:after {
  position: absolute;
  top: 50%;
  right: -6%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
@media (max-width: 1280px) {
  .btn-group-sm>.btn, .btn-sm{
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  }
}
@media (max-width: 1280px) {
  .dropdown.dropdown.btn-group.b-dropdown.m-md-2{
    margin: 0.3rem !important;
  }
}


/* slick 矢印 */
.slick-arrow {
  z-index: 2 !important;
  width: 15px !important;
  height: 15px !important;
}

.slick-arrow:before {
  opacity: 1 !important;
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
.slick-next {
  right: -13px !important;
}
@media (max-width: 1024px) {
  .slick-next {
    right: -13px !important;
  }
}
@media (max-width: 768px) {
  .slick-next {
    display: none !important;
  }
}
.slick-next:before {
  background: url(../img/arrow-right.png) !important;
  background-size: contain !important;
}
.slick-prev {
  left: -9px !important;
}
@media (max-width: 1024px) {
  .slick-prev {
    left: -9px !important;
  }
}
@media (max-width: 768px) {
  .slick-prev {
    display: none !important;
  }
}
.slick-prev:before {
  background: url(../img/arrow-left.png) !important;
  background-size: contain !important;
}











/* menuArea Compatible with 768px or less */
@media (max-width: 768px) {
  .o-Sidebar{
    min-width: 100px;
  }
  .o-Sidebar ul {
    width: 100px;
  }
  .o-Sidebar ul li.is-active a:after {
    width: calc(100% - 8px);
  }
  .l-Content--right {
    width: calc(100% - 100px);
  }
}


/* 林さん 専用*/
/* 分析サマリ画面のみレスポンシブです#Responsive-block内で書いていただければと思います！ */
#Responsive-block.l-Content--main {}
.l-Content--right {
    min-width: auto;
}

#Responsive-block.l-Content--main table {
    min-width: auto;
}

#Responsive-block.l-Content--main .l-refine {
    overflow-x: auto;
    background-color: white;
}

@media screen and (max-width:1280px) {
    /* グラフ */
    #Responsive-block.l-Content--main .p-pagenationWrap{
        flex-wrap: wrap;
        gap: 21px 0;
    }

    #Responsive-block.l-Content--main .o-refine__Inner {
        flex-wrap: wrap;
        gap: 21px 0;
    }

    #Responsive-block.l-Content--main .o-refine button {
        position: static;
        margin-top: 21px;
    }
}
@media screen and (max-width:1024px) {
    #Responsive-block.l-Content--main table {
        min-width: 1280px;
    }

    #Responsive-block.l-Content--main .a-amount .p-canvas {
        width: 100%;
        padding: 0;
    }

    #Responsive-block.l-Content--main .a-amount--left {
        width: 100%;
        border-right: none;
        padding-right: 0;
    }

    #Responsive-block.l-Content--main .a-amount {
     flex-direction: column-reverse;
     gap: 40px;
    }
}